<div>

  <%= simple_form_for(@list) do |l| %>
    <%= l.input :name %>
    <%= l.input :photo, as: :file %>
    <%= l.button :submit %>
  <% end %>

  <div class="btn btn-flat text-decoration-none">
  <%= link_to "Back to All Movie Lists", lists_path %>
  </div>

</div>
