<div class="container">
  <div class="movie-content">
    <div class="row">
      <h2> Movies in <%= @list.name %> </h2>

<div class="movies-grid">

<% @list.bookmarks.each do |bookmark| %>
  <div class="box-poster">
    <img class="img-poster" src="<%= bookmark.movie.poster_url %>">
    <p class = "movie-path"> <%= bookmark.movie.title %>: <%= bookmark.comment %> </p>
      <div class="btn-style">
        <%= link_to "Delete", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>
  <% end %>
  </div>
</div>

<div class="btn-style">
  <%= link_to "Back to All Movie Lists", lists_path %>
  <%= link_to "Add New Bookmark", new_list_bookmark_path(@list) %>
</div>

    </div>
  </div>
</div>
